---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const url = Astro.url;
const postId = Astro.url.pathname.split("/").pop();

// console.log(comments)
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    {
      new Date(frontmatter.pubDate)
        .toLocaleString("fr-FR", { timeZone: "Pacific/Honolulu" })
        .slice(0, 10)
    }
  </p>
  <p><em>{frontmatter.description}</em></p>
  <p>Ecrit par : {frontmatter.author}</p>

  <div class="flex justify-center">
    <img
      id="image"
      src={frontmatter.image.url}
      width="300"
      alt={frontmatter.image.alt}
      class="rounded-lg cursor-pointer"
    />
  </div>

  <div class="tags">
    {
      frontmatter.tags.map((tag: any) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <div
    id="modal"
    class="hidden fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center"
  >
    <!-- The close button -->
    <a
      id="closeBtn"
      class="fixed z-90 top-6 right-8 text-white text-5xl font-bold"
      href="javascript:void(0)">&times;</a
    >

    <!-- A big image will be displayed here -->
    <img id="modal-img" class="max-w-[800px] max-h-[600px] object-cover" />
  </div>

  <article class="prose mb-5">
    <slot />
  </article>

</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>

<script>
  /*
  // Get the img object using its Id
  const img = document.getElementById("photo");

  // Function to increase image size
  const enlargeImg=()=>{
    // Set image size to 1.5 times original
    img!.style.transform = "scale(3)";
    // Animation effect
    img!.style.transition = "transform 0.25s ease";
  }

  img?.addEventListener("click",enlargeImg);

  // Function to reset image size
  function resetImg() {
    // Set image size to original
    img!.style.transform = "scale(1)";
    img!.style.transition = "transform 0.25s ease";
  }
  */

  // Get the modal by id
  var modal = document.getElementById("modal");

  // Get the modal image tag
  var modalImg: HTMLImageElement = document.getElementById(
    "modal-img"
  ) as HTMLImageElement;

  // this function is called when a small image is clicked
  function showModal(src: string) {
    modal?.classList.remove("hidden");
    modalImg!.src = src;
  }

  // this function is called when the close button is clicked
  function closeModal() {
    modal?.classList.add("hidden");
  }

  const img: HTMLImageElement = document.getElementById(
    "image"
  ) as HTMLImageElement;
  img?.addEventListener("click", () => showModal(img.src));

  document.getElementById("closeBtn")?.addEventListener("click", closeModal);
</script>
